$principal: #9D0208;
$principalOscuro: #370617;
$claro: #FFFCF2;
$oscuro: #252422;

$fuentePrincipal: 'Inter', sans-serif;
$fuenteSecundaria: 'Bebas Neue', serif;

html {
    height: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: $fuentePrincipal;
}

p {
    font-size: 1.6rem;
    font-family: $fuentePrincipal;
}

a {
    text-decoration: none;
    color: $principal;
    font-family: $fuenteSecundaria;
    font-size: 2.5rem;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-family: $fuenteSecundaria;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

.mt-8 {
    margin-top: 8rem;
}

.shadow-sm {
    padding-bottom: 8rem;
}